.Header {
  .col {
  }
  .col-1 {
    width: percentage(145px/$max_width);
  }
  .col-2 {
    width: percentage(795px/$max_width);
  }
  .col-3 {
    width: 100%;
  }
  padding: 50px 0 160px;
  background-image: url("img/Background_Image.jpg");

  .col-text {
    text-align: center;
  }
  .text1 {
    padding-top: 200px;
    @include font(#ffffff, "Droid Serif", 40px, normal, -1px);
    font-style: italic;
  }
  .text2 {
    padding-top: 50px;
    @include font(#ffffff, Montserrat, 75px, 700, -1.88px);
    text-transform: uppercase;
  }
  .more {
    @include font(#ffffff, Montserrat, 18px, 700);
    text-transform: uppercase;
    display: block;
    @include align();
    width: 240px;
    height: 65px;
    background-color: #fed136;
    border-radius: 4px;
    margin: 55px auto 0;
  }
}

.header_menu {
  ul {
    @include align(flex-end);
    height: 100%;
  }
  li {
    height: 100%;
    @include align();
    margin-left: 35px;
  }
  a {
    @include font(#ffffff, Montserrat, 14px, 400);
    text-transform: uppercase;
  }
}

div.header-menu-active {
  height: 300px;
  transition: $delay;
}

.header_menu_button {
  display: none;
}

@media only screen and (max-width: $Large - 1) {

  .menu-button {
    display: inline-block;
    padding: .5em;
    background-color: #fafafa;
    border: 1px solid #ccc;

    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10;

  }

  .burger-icon {
    @include burger(25px, 3px, 5px, #444);
  }

  .menu-button.is-active .burger-icon {
    @include burger-to-cross;
  }

  .header_menu {
    height: 0px;
    background-color: #2b2b2b;
    position: fixed;
    left: 5%;
    right: 5%;
    z-index: 10;
    top: 60px;
    overflow: hidden;
    transition: $delay;
    ul {
      flex-direction: column;
      justify-content: space-around;
    }
    li {
      height: 40px;
      margin: 0;
    }
  }
  .Header {
    padding: 50px 0;
    .text1 {
      padding-top: 40px;
    }
  }
}

@media only screen and (max-width: $Medium - 1) {
  .Header {
    .text1 {
      font-size: 30px;
    }

    .text2 {
      font-size: 30px;
      line-height: 30px;
    }
  }
}















